:root {
    --apopis: red;
    --orochi: orange;
    --quetzalcoatl: yellow;
    --long: lime;
    --jormungandr: cyan;
    --ouroboros: magenta;
}

#game-choose-grid {
    /* width: 925px; */
    width: 1000px; /* Test */
    padding: 25px;
    box-sizing: border-box;
    margin: 0;
    border: black 1px solid;
    background-color: black;
    color: lightgray;
    font-family: monospace;
    /* font-family: 'Montserrat', sans-serif; Test */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-areas:
        "choose-snakes-grid"
        "choose-ready-grid";
    gap: 25px;
}

#choose-snakes-grid {
    grid-area: choose-snakes-grid;
    display: grid;
    grid-template-areas:
        "game_choose-apopis game_choose-orochi game_choose-quetzalcoatl"
        "game_choose-long  game_choose-jormungandr game_choose-ouroboros";
    justify-content: center;
    gap: 25px;
}

.snake-div {
    /* width: 275px; 
    height: 275px; */
    width: 300px; /* Test */
    height: 300px; /* Test */
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    border: 1px solid black;
    border: 2px solid rgb(59, 59, 59);
    position: relative;
    transition: 0.5s;
    /* transition: 3s; */
    text-align: center;
}

.snake-header-name,
.snake-skill_1-name,
.snake-skill_2-name {
    transition: 0.5s;
    /* transition: 3s; */
}

.snake-header-name {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.snake-skill_1-name,
.snake-skill_2-name {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: -12px;
    background-color: black;
    padding: 2px 2px 5px 5px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.snake-header-name,
.snake-skills p {
    margin: 0;
}

.snake-header-epithet {
    margin: 5px 0px 20px;
    font-weight: normal;
}

.snake-header {
    position: relative;
}

.snake-skill_1,
.snake-skill_2 {
    margin-bottom: 20px;
    text-align: left;
    padding-left: 15px;
    position: relative;
}

.snake-skill_1, .snake-skill_2 {
    border: solid 2px white;
    padding: 10px 15px 15px 15px;
    border-radius: 15px;
}

.snake-skills .snake-skill_1-dura,
.snake-skills .snake-skill_2-dura {
    padding-left: 30px;
    margin-top: 2.5px;
}

.snake-skill_1-cool,
.snake-skill_2-cool {
    padding-left: 30px;
}

.choose-italics {
    font-style: italic;
}

#choose-ready-grid {
    grid-area: choose-ready-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "choose-player_1-button choose-player_2-button";
    gap: 25px;
}


.choose-player-button {
    border: 2px solid lightgray;
    border: 2px solid rgb(59, 59, 59);
    box-sizing: border-box;
    padding: 15px;
    transition: 0.3s;
    background-color: black;
    color: lightgray;
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    text-transform: uppercase;
}

#choose-player_1-button {
    grid-area: choose-player_1-button;
}

#choose-player_2-button {
    grid-area: choose-player_2-button;
}

.snake-players-icon {
    opacity: 0;
    padding: 5px 12.5px;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: black;
    border: solid 3px white;
    color: white;
    /* font-family: monospace; */
    transition: 0.25s;
    font-size: 15px;
}

.snake-player_1-icon {
    position: absolute;
    top: -13px;
    left: -13px;
}

.snake-player_2-icon {
    position: absolute;
    top: -13px;
    right: -13px;
}

.prompt-msg-light {
    color: grey;
}



/* ACTIVE STATES */
.snake-player_1-icon-hover {
    opacity: 1;
}

.snake-player_2-icon-hover {
    opacity: 1;
}

.snake-div-hover {
    padding-top: 20px;
    border: 4.5px solid;
    border-radius: 30px;
}

.ready-div-hover {
    border: 4.5px solid;
    border-radius: 30px;
    padding: 12.5px;
}

.choose-player_1-hover {}


.choose-apopis-font_color {
    color: var(--apopis);
}

.choose-orochi-font_color {
    color: var(--orochi);
}

.choose-quetzalcoatl-font_color {
    color: var(--quetzalcoatl);
}

.choose-lóng-font_color {
    color: var(--long);
}

.choose-jörmungandr-font_color {
    color: var(--jormungandr);
}

.choose-ouroboros-font_color {
    color: var(--ouroboros);
}

.choose-apopis-hover {
    border-color: var(--apopis);
    background-color: rgba(255, 0, 0, 0.1);
    background-color: #1A0000;
}

.choose-orochi-hover {
    border-color: var(--orochi);
    background-color: rgba(255, 165, 0, 0.1);
    background-color: #1A1100;
}

.choose-quetzalcoatl-hover {
    border-color: var(--quetzalcoatl);
    background-color: rgba(255, 255, 0, 0.1);
    background-color: #1A1A00;
}

.choose-lóng-hover {
    border-color: var(--long);
    background-color: rgba(0, 255, 0, 0.1);
    background-color: #001A00;
}

.choose-jörmungandr-hover {
    border-color: var(--jormungandr);
    background-color: rgba(0, 255, 255, 0.1);
    background-color: #001A1A;
}

.choose-ouroboros-hover {
    border-color: var(--ouroboros);
    background-color: rgba(255, 0, 255, 0.1);
    background-color: #1A001A;
}