:root {
    --apopis: red;
    --orochi: orange;
    --quetzalcoatl: yellow;
    --lóng: lime;
    --jörmungandr: cyan;
    --ouroboros: magenta;
}

.apopis-head {
    background-color: var(--apopis);
}

.apopis-body {
    border: var(--apopis) solid 1px;
}

.orochi-head{
    background-color: var(--orochi);
}

.orochi-body{
    border: var(--orochi) solid 1px;
}

.quetzalcoatl-head{
    background-color: var(--quetzalcoatl);
}

.quetzalcoatl-body{
    border: var(--quetzalcoatl) solid 1px;
}

.lóng-head{
    background-color: var(--lóng);
}

.lóng-body{
    border: var(--lóng) solid 1px;
}

.jörmungandr-head{
    background-color: var(--jörmungandr);
}

.jörmungandr-body{
    border: var(--jörmungandr) solid 1px;
}

.ouroboros-head{
    background-color: var(--ouroboros);
}

.ouroboros-body{
    border: var(--ouroboros) solid 1px;
}

.player1-snake-body, .player2-snake-body {
    background-color: black;
    box-sizing: border-box;
    border-radius: 2px;
}

.player1-snake-head, .player2-snake-head {
    border-radius: 2px;
}