.lóng-target {
    background-color: rgba(0, 255, 0, 0.3);
}

.lóng-petrify {
    box-shadow: 0 0 0 2px rgb(1, 214, 1);
}

.player2-snake {
    /* box-shadow: 0 0 0 2px rgb(1, 214, 1); */
}

.quetzalcoatl-takeover {
    box-shadow: 0 0 0 2px rgb(255, 255, 0);
}

.player2-snake {
    /* box-shadow: 0 0 5px 2px rgb(255, 255, 0) */
}

.phase-style {
    box-shadow: 0 0 5px 2px cyan;
}

.arena-border-portal {
    border-color: cyan;
}

.sheshanaga-masochist {
    /* box-shadow: 0 0 0 2px magenta; */
    border-color: rgb(124, 46, 124);
}

.clone-orochi-head{
    background-color: rgb(122, 80, 0) !important;
    border: rgb(122, 80, 0) solid 2px !important;
    border-radius: 2px !important;
    width: 10px !important;
    height: 10px !important;
    margin: 2.5px !important;
    transition: 0;
    position: relative;
}

.clone-labels {
    color: white;
    font-family: monospace;
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clone-orochi-body{
    border: rgb(122, 80, 0) solid 2px !important;
    background-color: black;
    box-sizing: border-box !important;
    border-radius: 2px !important;
    border-width: 2px !important;
    transition: 0 !important;
    width: 10px !important;
    height: 10px !important;
    margin: 2.5px !important;
}