:root {
    --apopis: red;
    --orochi: orange;
    --quetzalcoatl: yellow;
    --lóng: lime;
    --jörmungandr: cyan;
    --ouroboros: magenta;
}

.apopis-head {
    background-color: var(--apopis) !important;
}

.apopis-body {
    border: var(--apopis) solid 1px;
}

.orochi-head{
    background-color: var(--orochi) !important;
}

.orochi-body{
    border: var(--orochi) solid 1px;
}

.quetzalcoatl-head{
    background-color: var(--quetzalcoatl) !important;
}

.quetzalcoatl-body{
    border: var(--quetzalcoatl) solid 1px;
}

.lóng-head{
    background-color: var(--lóng) !important;
}

.lóng-body{
    border: var(--lóng) solid 1px;
}

.jörmungandr-head{
    background-color: var(--jörmungandr) !important;
}

.jörmungandr-body{
    border: var(--jörmungandr) solid 1px;
}

.ouroboros-head{
    background-color: var(--ouroboros) !important;
}

.ouroboros-body{
    border: var(--ouroboros) solid 1px;
}

.player1-snake-body, .player2-snake-body {
    background-color: black !important;
    box-sizing: border-box;
    border-radius: 2px;
    border-width: 2px;
    transition: 0;
}

.player1-snake-head, .player2-snake-head {
    border-radius: 2px !important;
    width: 10px !important;
    height: 10px !important;
    margin: 2.5px !important;
    transition: 0;
}

.apopis-strike {
    background-color: var(--apopis);
}

.orochi-strike{
    background-color: var(--orochi);
}

.quetzalcoatl-strike{
    background-color: var(--quetzalcoatl);
}

.lóng-strike{
    background-color: var(--lóng);
}

.jörmungandr-strike{
    background-color: var(--jörmungandr);
}

.ouroboros-strike{
    background-color: var(--ouroboros);
}

.horizontal-strike {
    border-radius: 0;
    width: 15px;
    height: 2px;
    margin: 6.5px 0;
}

.vertical-strike {
    border-radius: 0;
    width: 2px;
    height: 15px;
    margin: 0 6.5px;
}

.apopis-font_color {
    color: var(--apopis);
}

.orochi-font_color {
    color: var(--orochi);
}

.quetzalcoatl-font_color {
    color: var(--quetzalcoatl);
}

.lóng-font_color {
    color: var(--long);
}

.jörmungandr-font_color {
    color: var(--jormungandr);
}

.ouroboros-font_color {
    color: var(--ouroboros);
}

.apopis-border {
    border-color: var(--apopis);
    background-color: rgba(255, 0, 0, 0.1);
    background-color: #1A0000;
}

.orochi-border {
    border-color: var(--orochi);
    background-color: rgba(255, 165, 0, 0.1);
    background-color: #1A1100;
}

.quetzalcoatl-border {
    border-color: var(--quetzalcoatl);
    background-color: rgba(255, 255, 0, 0.1);
    background-color: #1A1A00;
}

.lóng-border {
    border-color: var(--long);
    background-color: rgba(0, 255, 0, 0.1);
    background-color: #001A00;
}

.jörmungandr-border {
    border-color: var(--jormungandr);
    background-color: rgba(0, 255, 255, 0.1);
    background-color: #001A1A;
}

.ouroboros-border {
    border-color: var(--ouroboros);
    background-color: rgba(255, 0, 255, 0.1);
    background-color: #1A001A;
}

.player1-snake-head {

}