:root {
    --p1_color: orange;
}

.player1-snake {
    border: solid 1px;
    box-sizing: border-box;
}
.player1-snake-body {
    background-color: black;
}

.player1-snake-head {
    background-color: red;
}

.p1-horizontal-tongue {
    background-color: var(--p1_color);
    height: 2px;
    margin: 6.5px 2.5px;
}

.p1-vertical-tongue {
    background-color: var(--p1_color);
    width: 2px;
    margin: 2.5px 6.5px;
}

#p1-wins{
    color: var(--p1_color);
}

#p1Score{
    color: var(--p1_color);
}