:root {
    --p2_color: cyan;
}

.p2-snake-body {
    background-color: black;
    border: var(--p2_color) solid 1px;
    box-sizing: border-box;
}

.p2-snake-head {
    background-color: var(--p2_color);
}

.p2-horizontal-tongue {
    background-color: var(--p2_color);
    height: 2px;
    margin: 6.5px 2.5px;
}

.p2-vertical-tongue {
    background-color: var(--p2_color);
    width: 2px;
    margin: 2.5px 6.5px;
}

#p2-wins{
    color: var(--p2_color);
}


#p2Score{
    color: var(--p2_color);
}