.snake-select-div h2, .snake-select-div p, .snake-select-div h3 {
    color: lightgrey;
    font-family: monospace;
    margin: 0;
}

.snake-select-div h2 {
    text-transform: uppercase;
}

.snake-select-div h3 {
    font-style: italic;
    font-size: 13px;
    margin: 10px;
}

#snake-selection-div {
    /* border: lightgray 1px solid; */
    background-color: black;
}

#snake-selection-div {
    width: 925px;
    padding: 25px;
    box-sizing: border-box;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#snake-selection-div {
    display: grid;
    grid-template-areas: 
    "snake-grid"
    "ready-grid";
    gap: 25px;
}

#snake-grid {
    grid-area: snake-grid;
    display: grid;
    grid-template-areas: 
    "select-apopis select-orochi select-quetzalcoatl"
    "select-long select-jormungandr select-ouroboros";
    justify-content: center;
    gap: 25px;
}

#ready-grid {
    grid-area: ready-grid;
    display: grid;
    grid-template-areas: 
    "p1-ready p2-ready";
    gap: 25px;
}

.snake-select-div {
    width: 275px;
    height: 275px;
    box-sizing: border-box;
    padding: 20px;
}

.ital {
    font-style: italic;
    padding-left: 10px;
}

.snake-select-div {
    border: lightgray 1.5px solid;
    text-align: center;
}

.player-ready-btn {
    height: 50px;
}

.player-ready-btn {
    border: lightgray 1px solid;
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 20px;
    color: lightgray;
    background-color: black;
}

.snake-select-div {
    transition: 0.50s;
}

.snake-select-div-hover{
    border-style: solid;
    transition: 0.500s;
    border-radius: 25px;
    border-width: 2.5px;
    padding-top: 25px;
}


.select-apopis-hover {
    border-color: red;
}

.select-orochi-hover {
    border-color: orange;
}

.select-quetzalcoatl-hover {
    border-color: yellow;
}

.select-long-hover {
    border-color: lime;
}

.select-jormungandr-hover {
    border-color: cyan;
}

.select-ouroboros-hover {
    border-color: magenta;
}

.snake-skills {
    text-align: left;
}
.skills-apopis {
    color: red;
}

.skills-orochi {
    color: orange;
}

.skills-quetzalcoatl {
    color: yellow;
}

.skills-long {
    color: lime;
}

.skills-jormungandr {
    color: cyan;
}

.skills-ouroboros {
    color: magenta;
}

.p1-select {
    
}

.p2-select {
    
}


.snake-select-div {
    position: relative;
}


#p1-select-icon {
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 50%;
    border: solid 2px white;
    color: white;
    transition: 0.50s;
    font-family: monospace;
    padding: 10px;
    transition: 0.5s;
}

#p2-select-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    border: solid 2px white;
    color: white;
    transition: 0.50s;
    font-family: monospace;
    padding: 10px;
    transition: 0.5s;
}

#countdown-div {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px;
    border-radius: 15px;
    /* border: solid 1px white; */
}

#countdown-div h1 {
    color: white;
    font-size: 30px;
    font-family: monospace;
}

#countdown-div #countdown-number {
    font-size: 60px;
}